 <app-top-nav></app-top-nav>
<!--<app-my-new-component></app-my-new-component>
<app-left-text-block></app-left-text-block>
<app-right-text-block></app-right-text-block> -->
<!-- <app-one-way-binding></app-one-way-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-ng-if-demo></app-ng-if-demo> -->
<!-- <app-ng-switch-demo></app-ng-switch-demo> -->
<!-- <app-ng-for-demo></app-ng-for-demo> -->
<!-- <app-pipe-demo></app-pipe-demo> -->
<!-- <app-use-of-custome-pipe></app-use-of-custome-pipe> -->


<router-outlet />
