<div class="txt-sec">
    <h2 class="heading-red">What is AngularJS?</h2>
    Reprehenderit ex amet deserunt eu fugiat aliquip quis ea do. Exercitation culpa mollit culpa magna mollit. Dolor esse
    fugiat eiusmod commodo ullamco nulla nostrud eiusmod officia dolor. Nostrud sunt ullamco aute eu Lorem non voluptate
    id nulla velit irure Lorem in. Ex elit mollit nostrud sunt consectetur eiusmod tempor Lorem occaecat pariatur officia
    pariatur fugiat. Ullamco deserunt cillum sunt enim exercitation reprehenderit eu.
  
    Ut ea laboris veniam et minim nulla. Exercitation dolore aliquip ullamco nulla non nostrud occaecat. Tempor sint
    aliqua commodo voluptate commodo qui.
  
    Dolore laborum in id laborum aliquip nulla aute eu reprehenderit magna dolore est. Duis tempor fugiat reprehenderit
    sunt minim ut anim ipsum id Lorem culpa. Culpa est amet commodo occaecat. Cillum sit qui est ex aliquip consectetur
    consequat cillum nostrud do tempor eu aliquip nisi. Proident duis aliqua in mollit in.
  
    Occaecat ex nulla consequat aliqua et velit cupidatat tempor anim tempor labore. Tempor sint culpa aliquip occaecat
    non. In officia consectetur esse reprehenderit deserunt eu cillum reprehenderit commodo ullamco exercitation. In culpa
    labore pariatur veniam quis labore est pariatur aliqua veniam in labore anim duis. Nulla minim nisi veniam aliquip
    adipisicing tempor voluptate proident. Laborum amet do ullamco labore. Sit eiusmod tempor aliquip incididunt aliquip
    occaecat sint aliqua.
    <p>AngularJS is an open source Model-View-Controller framework which is similar to the JavaScript framework.
      Angular JS is probably one of the most popular modern day web frameworks available today. This framework is used for
      developing mostly Single Page applications. This framework has been developed by a group of developers from Google
      itself.
      Because of the sheer support of Google and ideas from a wide community forum, the framework is always kept up to
      date. Also, it always incorporates the latest development trends in the market.</p>
    <a href="#" class="btn btn-red">Know more about Angular</a>
    <div class="clear"></div>
  </div>